.work__container {
	background: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3.2em 0;
	height: calc(100vh - 140px);
}

.work__inner {
	width: 75%;
}

.work__list {
	&:hover li {
		opacity: 0.6;
		transition: 0.16s all ease-out; 
	}
	& li {
		height: 75px;
		line-height: 75px;
		border-bottom: 4px solid $brown;
		transition: 0.16s all ease-out; 
		&::before {
			position: relative;
			left: -40px;
			height: 75px;
			line-height: 75px;
		 	content: attr(data-num);
		 	font-size: 1.6em;
		 	color: $dark-grey;
		 	@media screen and (max-width: 700px) {
		 		display: none;
		 	}
		}
		&:hover {
			opacity: 1;
			& .work__arrow {
				transform: translateX(10px);
				transition: 0.16s all ease-out; 
			}
		}
	}
	& .work__title {
		display: inline-block;
		width: 50%;
		margin-left: -20px;
		@media screen and (max-width: 700px) {
			margin-left: 0;
		}
	}
	& .work__arrow {
		display: inline-block;
		float: right;
		height: 75px;
		width: 75px;
		background: url('../images/arrow-right.svg') center center no-repeat;
		background-size: 50% 50%;
		transition: 0.12s all ease-out; 
	}
}