// Colours
$light-grey: #EFEFEF;
$dark-grey: #666666;
$black: #333333;
$brown: #A99284;

@import 'reset';
@import 'layout';
@import 'typography';
@import 'ui';
@import 'home';
@import 'about';
@import 'work';
@import 'project';

